<!DOCTYPE html>
<html>

<head>
  <!-- Básico -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Metas para dispositivos móviles -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Metas del sitio -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Petology</title>

  <!-- Estilos del slider -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- CSS principal de Bootstrap -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- Estilos de fuentes -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Estilos personalizados para esta plantilla -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- Estilos responsivos -->
  <link href="css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- Sección de encabezado -->
    <%- include('components/navbar.ejs') %>
    <!-- Fin de la sección de encabezado -->
  </div>


  <!-- Sección de compra -->

  <section class="buy_section layout_padding">
    <div class="container">
      <h2>
        Puedes Comprar una Mascota en Nuestra Clínica
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      </p>
      <div class="d-flex justify-content-center">
        <a href="">
          Comprar Ahora
        </a>
      </div>
    </div>
  </section>

  <!-- Fin de la sección de compra -->

  <!-- Sección de testimonios -->
<section class="client_section layout_padding-bottom">
  <div class="container">
    <h2 class="custom_heading text-center">
      Lo que dicen nuestros
      <span>
        clientes
      </span>
    </h2>
    <p class="text-center">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut la
    </p>
    <div id="carouselExample2Indicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <% testimonios.forEach((testimonio, index) => { %>
          <li data-target="#carouselExample2Indicators" data-slide-to="<%= index %>" class="<%= index === 0 ? 'active' : '' %>"></li>
        <% }) %>
      </ol>
      <div class="carousel-inner">
        <% testimonios.forEach((testimonio, index) => { %>
          <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
            <div class="layout_padding2 pl-100">
              <div class="client_container">
                <div class="img_box">
                  <img src="<%= testimonio.imagen %>" alt="">
                </div>
                <div class="detail_box">
                  <h5><%= testimonio.nombre %></h5>
                  <p><%= testimonio.texto %></p>
                </div>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</section>
<!-- Fin de la sección de testimonios -->

<!-- header section strats -->
<%- include('components/navbar.ejs') %>
<!-- end header section -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>

</body>

</html>
