<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Petology</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <%- include('components/navbar.ejs') %>
    <!-- end header section -->
  </div>

<!-- service section -->
<section class="service_section layout_padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 offset-md-2">
        <h2 class="custom_heading">
          <span><%= titulo %></span>
        </h2>
        <div class="container layout_padding2">
          <div class="row">
            <% service.forEach((servicio, index) => { %>
              <div class="col-md-4">
                <div class="img_box">
                  <img src="images/s-<%= index + 1 %>.png" alt="">
                </div>
                <div class="detail_box">
                  <h6>
                    <%= servicio.Servicio %>
                  </h6>
                  <p>
                    <%= servicio.descripcion %>
                  </p>
                </div>
              </div>
            <% }); %>
          </div>
        </div>
        <div>
          <a href="">
            <%= boton %>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <img src="images/tool.png" alt="" class="w-100">
      </div>
    </div>
  </div>
</section>
  <!-- end service section -->

  <!-- info section -->
  <%- include('components/footer.ejs') %>
  <!-- footer section -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>

</body>

</html>